body {
    margin: 0 auto;
    background-image: url('./assets/images/ricepaper.png');
    
}

.img-thumbnail {
    height:200px;
    width:200px;
}
h2 {
    color:  #4aaaa5;
}
.contact-info {
    border-color: 5px solid black;
}